<section class="advantages-section section">
  <div class="container">
    <h2 class="advantages-section-title visually-hidden">Advantages</h2>
    <div class="advantages-container">
      <ol class="advantages-section-list">
        <li class="advantages-section-item">
          <h3 class="advantages-section-item-title">01</h3>
          <p class="advantages-section-item-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="advantages-section-item">
          <h3 class="advantages-section-item-title">02</h3>
          <p class="advantages-section-item-text">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="advantages-section-item">
          <h3 class="advantages-section-item-title">03</h3>
          <p class="advantages-section-item-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="advantages-section-item">
          <h3 class="advantages-section-item-title">04</h3>
          <p class="advantages-section-item-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
      <img src="/img/advantages.jpg" alt="advantages" width="540" />
    </div>
  </div>
</section>
