<section class="choose-yacht-section section">
  <div class="container">
    <h2 class="choose-yacht-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="choose-yacht-list">
      <li class="choose-yacht-item">
        <img src="/img/arrow.png" alt="arrow" width="360" />
        <div class="choose-yacht-item-container">
          <h3 class="choose-yacht-item-title">Arrow</h3>
          <p class="choose-yacht-item-text">luxury yahts</p>
        </div>
        <ul class="choose-yacht-description">
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">length</p>
            <p class="choose-yacht-description-text">48m(155ft)</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">builder</p>
            <p class="choose-yacht-description-text">admiral</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">built</p>
            <p class="choose-yacht-description-text">2021</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">guests</p>
            <p class="choose-yacht-description-text">11 in 5 cabins</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">price</p>
            <p class="choose-yacht-description-text">€33,500,000</p>
          </li>
        </ul>
      </li>
      <li class="choose-yacht-item">
        <img src="/img/benetti.png" alt="benetti" width="360" />
        <div class="choose-yacht-item-container">
          <h3 class="choose-yacht-item-title">benetti oasis 40M BO122</h3>
          <p class="choose-yacht-item-text">luxury yahts</p>
        </div>
        <ul class="choose-yacht-description">
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">length</p>
            <p class="choose-yacht-description-text">41m (133ft)</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">shipyard</p>
            <p class="choose-yacht-description-text">Benetti</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">built</p>
            <p class="choose-yacht-description-text">2025</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">guests</p>
            <p class="choose-yacht-description-text">10 in 5 cabins</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">price</p>
            <p class="choose-yacht-description-text">€23,210,000</p>
          </li>
        </ul>
      </li>
      <li class="choose-yacht-item">
        <img src="/img/anna.png" alt="belle anna" width="360" />
        <div class="choose-yacht-item-container">
          <h3 class="choose-yacht-item-title">belle anna</h3>
          <p class="choose-yacht-item-text">luxury yahts</p>
        </div>
        <ul class="choose-yacht-description">
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">length</p>
            <p class="choose-yacht-description-text">50m(155ft)</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">shipyard</p>
            <p class="choose-yacht-description-text">ISA</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">built</p>
            <p class="choose-yacht-description-text">2012</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">guests</p>
            <p class="choose-yacht-description-text">12 in 6 cabins</p>
          </li>
          <li class="choose-yacht-description-item">
            <p class="choose-yacht-description-title">price</p>
            <p class="choose-yacht-description-text">€21,000,000</p>
          </li>
        </ul>
      </li>
    </ul>
    <button type="button" class="choose-yacht-button">Yacht rental</button>
  </div>
</section>
