<footer>
  <a href="./index.html">yachtjet</a>
  <ul>
    <li>
      <a href="">About</a>
    </li>
    <li><a href="">Yachts</a></li>
    <li>
      <a href="">Reviews</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="https://www.instagram.com/" target="_blank">
        <svg class="footer-icon" width="19" height="19">
          <use href="/img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/" target="_blank">
        <svg class="footer-icon" width="19" height="19">
          <use href="/img/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/" target="_blank">
        <svg class="footer-icon" width="19" height="19">
          <use href="/img/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
  <h2>
    No matter which yacht you choose, our experienced crew will ensure that your
    journey is smooth and enjoyable.
  </h2>
  <ul>
    <li>
      <p>2023. Yacht Adventures</p>
    </li>
    <li>
      <p>Privacy Police</p>
    </li>
  </ul>
</footer>
