.rent-a-yacht-form {
  width: 472px;
}

.label-form {
  display: block;
  margin-bottom: 18px;
}

.input-form {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 18px;
  width: 100%;
  height: 54px;
  background-color: transparent;
}

.rent-a-yacht-button {
  border-radius: 15px;
  padding: 18px 75px;
  width: 194px;
  height: 56px;
}
